h1= title
p Welcome to #{title}
p There are #{count} spaceships already generated
p 
  |	Click the link 
  |	a(href='/pages/shipgen.html', title='View generation page') Here
  | here to help generate some new ones!