h1= title
p Welcome to #{title}
p There are #{count} spaceships already generated
p 
  |	Click the link 
  | here to help generate some new ones!
  
a(href='/pages/shipgen.html', title='View generation page') Generate New Ships  