</html>
	<head>
    <title> Spaceships </title>
    <link rel='stylesheet'  href='/stylesheets/style.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	</head>
	</body>
		<h1> Space The Not So Final Frontier </h1>
		<p> Welcome to Insert a better game name here. </p>
		<p> There are <%= count %> spaceships already generated </p>
		<p>
		   Click the link </br>
		   below to help generate some new ones! </br>
		   <a href='http://testing.duostack.net:9980/pages/spacegen.html' title='View generation page'> Generate New Ships  </a>
		</p>
		 
		<p> below are some that have been generated before </p>
		<div id="container"> </div>
		<script type="text/javascript">
		   $(function() {
				$.get('./randomship', {}, function(data) {
					 var image = new Image;
					 image.onload = function() {
						$('#container').append(image);
					 }
					 image.src = data.imagedata;
				}, 'json');
		   });
		</script>
	</body>
</html>